<style>

    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

    {#Login Header#}
    .login #header {
        background: black;
        border-color: whitesmoke;
    }

    {#Background#}
    .login {
        background: #222831;
    }

    {#Login Card Header#}
    .login #header h1 a {
        font-weight: bolder;
        font-size: xx-large;
        color: yellow;
        background: black;
        font-family: 'Open Sans', sans-serif;
    }

    {#Login Button#}
    input[type="submit"], button, button:hover {
        background: #0B3924;
        {#width: 100%;#}
    }

    input[type="submit"]:hover, button:hover {
        background: #568564;
        {#width: 100%;#}
    }

</style>